{% extends 'base.html' %}

{% block content %}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ single_pet.images.url }}" alt="..." /></div>
            <div class="col-md-6">
               <div class="small mb-1">Categoria: <b>{{ single_pet.category }}</b></div>
            <hr>
                <h1 class="display-5 fw-bolder">{{ single_pet.pet_name }}</h1>
                <div class="fs-5 mb-5">
                    <span>RD$ {{ single_pet.price }}</span>
                </div>
                <p class="lead">{{ single_pet.description }}</p>
                <div class="d-flex">
                    {% if single_pet.stock <= 0 %}
                    <h5>Producto fuera de Stock</h5>
                    {% else %}
                    <a href="{% url 'add_cart' single_pet.id %}"><button class="btn btn-primary flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}